.App {
  text-align: center;
}
html {
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.navbar-left {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

.signup,
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.zombieImg,
.messyImg {
  margin: 50px;
  margin-top: 90px;
}
