.App {
  text-align: center;
}
html {
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.makeStyles-root-6 {
  display: flex;
  gap: 50px;
  justify-content: left;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
